@page "/register"
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Inscription</h3>

@if (!string.IsNullOrEmpty(Message))
{
        <div class="alert alert-danger">@Message</div>
}

<div>
    <label>Nom :</label>
    <input type="text" @bind="Nom" class="form-control" required />

    <label>Email :</label>
    <input type="email" @bind="Email" class="form-control" required />

    <label>Mot de passe :</label>
    <input type="password" @bind="Password" class="form-control" required />

    <label>Rôle :</label>
    <select @bind="Role" class="form-control">
        <option>Etudiant</option>
        <option>Professeur</option>
    </select>

    <button @onclick="RegisterUser" class="btn btn-success">S'inscrire</button>
</div>

@code {
    private string Nom = "";
    private string Email = "";
    private string Password = "";
    private string Role = "Etudiant";
    private string Message = "";

    private async Task RegisterUser()
    {
        var response = await Http.PostAsJsonAsync("api/auth/register", new { Nom, Email, Password, Role });

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/login");
        }
        else
        {
            Message = "Erreur lors de l'inscription.";
        }
    }
}
